<h1><%= @recipe.title %></h1>
<p><%= @recipe.author_initials %></p>

<img class="show-images" src ="<%= @recipe.photo_url %>" width="300px">

<p>Created at: <%= @recipe.date_created %></p>
<p>Updated at: <%= @recipe.date_updated %></p>

<h2>Ingredients:</h2>
<ul>
  <% @recipe.ingredient_list.each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>
<h2>Directions:</h2>
<ol>
  <% @recipe.directions_list.each do |direction| %>
    <li><%= direction %></li>
  <% end %>
</ol>